body {
  margin:0px;
  background-color:rgba(32, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:180px;
  top:55px;
  width:300px;
  height:27px;
}
#u1_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:33px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:32px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  color:#FFFFFF;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u3_img.mouseOver {
}
#u3.mouseOver {
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
  text-shadow:0px 2px 5px rgba(134, 134, 134, 0.3490196);
  -webkit-text-shadow:0px 2px 5px rgba(134, 134, 134, 0.3490196);
  -moz-text-shadow:0px 2px 5px rgba(134, 134, 134, 0.3490196);
}
#u5 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:27px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:27px;
  color:#FFFFFF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:100px;
  top:27px;
  width:100px;
  height:90px;
  visibility:hidden;
}
#u9_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:948px;
  top:15px;
  width:47px;
  height:16px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:940px;
  top:15px;
  width:10px;
  height:16px;
}
#u19_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u19_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u19_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u20 {
  position:absolute;
  left:830px;
  top:15px;
  width:110px;
  height:20px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:770px;
  top:15px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:771px;
  top:45px;
  width:58px;
  height:16px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:830px;
  top:45px;
  width:110px;
  height:20px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:880px;
  top:65px;
  width:60px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:900px;
  top:15px;
  width:41px;
  height:16px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:140px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:140px;
}
#u31 {
  position:absolute;
  left:2px;
  top:62px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:10px;
  top:210px;
  width:1000px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u33 {
  position:absolute;
  left:200px;
  top:160px;
  width:10px;
  height:100px;
}
#u33_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u33_end {
  position:absolute;
  left:-5px;
  top:83px;
  width:20px;
  height:18px;
}
#u33_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:100px;
}
#u34 {
  position:absolute;
  left:210px;
  top:182px;
  width:232px;
  height:28px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:28px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:40px;
  top:332px;
  width:70px;
  height:28px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:112px;
  top:341px;
  width:50px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u39 {
  position:absolute;
  left:156px;
  top:260px;
  width:10px;
  height:88px;
}
#u39_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u39_end {
  position:absolute;
  left:-5px;
  top:71px;
  width:20px;
  height:18px;
}
#u39_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:88px;
}
#u40 {
  position:absolute;
  left:162px;
  top:255px;
  width:174px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:157px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:174px;
  height:1px;
}
#u41 {
  position:absolute;
  left:156px;
  top:348px;
  width:10px;
  height:200px;
}
#u41_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u41_end {
  position:absolute;
  left:-5px;
  top:183px;
  width:20px;
  height:18px;
}
#u41_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:200px;
}
#u42 {
  position:absolute;
  left:0px;
  top:607px;
  width:125px;
  height:28px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:125px;
  top:616px;
  width:37px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:20px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:37px;
  height:1px;
}
#u45 {
  position:absolute;
  left:156px;
  top:535px;
  width:10px;
  height:88px;
}
#u45_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u45_end {
  position:absolute;
  left:-5px;
  top:71px;
  width:20px;
  height:18px;
}
#u45_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:88px;
}
#u46 {
  position:absolute;
  left:162px;
  top:530px;
  width:174px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:157px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:174px;
  height:1px;
}
#u47 {
  position:absolute;
  left:156px;
  top:623px;
  width:10px;
  height:200px;
}
#u47_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u47_end {
  position:absolute;
  left:-5px;
  top:183px;
  width:20px;
  height:18px;
}
#u47_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:200px;
}
#u48 {
  position:absolute;
  left:19px;
  top:897px;
  width:93px;
  height:28px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:112px;
  top:906px;
  width:50px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u51 {
  position:absolute;
  left:156px;
  top:823px;
  width:10px;
  height:88px;
}
#u51_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u51_end {
  position:absolute;
  left:-5px;
  top:71px;
  width:20px;
  height:18px;
}
#u51_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:88px;
}
#u52 {
  position:absolute;
  left:162px;
  top:818px;
  width:174px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:157px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:174px;
  height:1px;
}
#u53 {
  position:absolute;
  left:156px;
  top:911px;
  width:10px;
  height:200px;
}
#u53_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u53_end {
  position:absolute;
  left:-5px;
  top:183px;
  width:20px;
  height:18px;
}
#u53_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:200px;
}
